tab-box{
    width: 480px;
    height: 360px;
    border: 1px solid darkolivegreen;
    display: block;
    overflow: hidden;

    tab-header{
        height: 60px;
        line-height: 60px;
        display: flex;
        tab-item{
            flex:1;
            text-align: center;
            background: green;
            &.cur{
                background: #fff;
            }
        }
    }

    tab-body{
        height: 300px;
        width: 300%;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
        transform: translate3d(0,0,0);
        transition: transform 0.5s;

        tab-block{
            height: 100%;
            font-size: 14px;
            flex: 1;
            background: darkseagreen;
            box-sizing: border-box;
            border: 10px solid #fff;
            padding: 12px;
        }
    }

}